.card-container{
    box-shadow: 1px 1px 6px 1px rgba(0,0,0,0.2);
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 16px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100% !important;
    min-height: auto !important;
    position: relative !important;
    border-radius: 20px !important;
}

.card-container:hover{
    transform: scale(1.01);
    transition: all 0.3s ease;
}

.published-date{
    font-size: 10px !important;
}

.company-profile{
    margin-top: 16px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
    margin-bottom: 10px;
}

.company-profile img{
    width: 30px;
    height: 40px;
}

.company-titles{
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;
   gap: 4px;
}

.main-title{
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px !important;
    color: #8b8b8b;
}

.position-title{
    font-size: 13px;
    font-weight: 400 !important;
    line-height: 1.5;
}

.exp-title{
    font-size: 11px;
    font-weight: 400;
}

.salary-title{
    font-size: 14px;
    font-weight: 400 !important;
}

.jd{
    margin-top: 6px;
    height: 200px;
    max-width: 280px;
    overflow: hidden;
    mask-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255), rgba(255, 255, 255, 0));
}
.jd-expand{
    margin-top: 6px;
    max-width: 280px;
    height: 200px;
    overflow: auto;
}

.job-footer{
    position: relative;
}

.job-footer .expand-button{
    width: 100%;
    position: absolute !important;
    cursor: pointer;
    color: rgb(48, 51, 255) !important;
    border: none !important;
    text-align: center !important;
}

.about-company{
    font-size: 14px;
    line-height: 1.5;
    font-weight: 500;
}


.title{
    font-size: 14px;
    font-weight: 600;
}

.description{
    color:rgba(0, 0, 0, 0.6);
    font-size: 13px;
    font-weight: 400 !important;
}

.footer{
    width: 100%;
    margin-top: 4px;
    text-align: center;
  
}
.footer .apply-button{
    width: 100%;
    background-color: rgb(85, 239, 196);
    border: none;
    padding: 6px;
    border-radius: 6px;
    cursor: pointer;
}