.sidebar {
    width: 6rem;
}

.sidebar-expanded {
    width: 12rem;
}

.sidebar, .sidebar-expanded {
    height: 100%;
    background-color: white;
    color: #ffffff;
    padding: 1rem;
    position: relative;
    transition: width 0.5s ease, right 0.5s ease;
    border-right: 1px solid rgb(210, 210, 210);
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
}

.expand-button{
    position: absolute;
    top: 5%;
    padding: 1px;
    border: 2px solid rgb(210, 210, 210) !important; 
    border-radius: 12px;
    background-color: white;
    color: black !important;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 0.5s ease, right 0.5s ease;
    width: 25px;
}

.sidebar .expand-button {
    right: -16%;
}

.sidebar-expanded .expand-button{
    right: -7%;
}

.logo {
    width: 44px;
}

.sidebar-expanded .logo {
    width: 130px;
    transition: width 0.5s ease, right 0.5s ease;
}

.menu-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.get-jobs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    color: black;
    font-size: 10px;
    font-weight: 500;
}

.icon{
    color: black;
}

.sidebar-expanded .get-jobs{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
    transition: all 0.5s ease;
}

.sidebar-expanded .get-jobs p{
    font-size: 12px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: gray;
}